# Guided Project: Mobile App for Lottery Addiction

Solution notebook can be found [here](https://github.com/dataquestio/solutions/blob/master/Mission382Solutions.ipynb).

## Introduction

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the [6/49](https://en.wikipedia.org/wiki/Lotto_6/49) lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. [The data set](https://www.kaggle.com/datasets/datascienceai/lottery-dataset) has data for 3,665 drawings, dating from 1982 to 2018 (we'll come back to this).

## Core Functions

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula:

\begin{equation}
_nC_k = {n \choose k} =  \frac{n!}{k!(n-k)!}
\end{equation}

***In the 6/49 lottery, the order of the six drawn numbers does not matter.***

In [1]:
def factorial(n):
    
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)

In [2]:
def permutation(n, k):
    
    return int(factorial(n)/factorial(n-k))

def combination(n, k):
    
    return int(factorial(n)/factorial(n-k)/factorial(k))

## One-ticket Probability

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
* The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

In [3]:
def one_ticket_probability(ticket = [1,2,3,4,5,6], draw = 6, pool = 49):
    
    all_combinations = combination(pool, draw)
    prob_win = 1/all_combinations
    
    return 'Your ticket has a winning chance of {:.7%}, which is 1 in {:,}.'.format(prob_win, all_combinations)

In [4]:
one_ticket_probability([3,5,24,15,36,1])

'Your ticket has a winning chance of 0.0000072%, which is 1 in 13,983,816.'

## Historical Data Check for Canada Lottery

In [5]:
import pandas as pd

In [6]:
historical_649 = pd.read_csv('649.csv', parse_dates = ['DRAW DATE'])
historical_649.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,1982-06-12,3,11,12,14,41,43,13
1,649,2,0,1982-06-19,8,33,36,37,39,41,9
2,649,3,0,1982-06-26,1,6,23,24,27,39,34
3,649,4,0,1982-07-03,3,9,10,13,20,43,34
4,649,5,0,1982-07-10,5,14,21,31,34,47,45

In [7]:
historical_649.shape

(3665, 11)

In [8]:
historical_649.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null datetime64[ns]
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: datetime64[ns](1), int64(10)
memory usage: 315.0 KB

In [9]:
historical_649.describe()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
count,3665.0,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000
mean,649.0,1819.494952,0.030832,7.327694,14.568076,21.890859,28.978445,36.162619,43.099045,24.599454
std,0.0,1039.239544,0.237984,5.811669,7.556939,8.170073,8.069724,7.190960,5.506424,14.360038
min,649.0,1.000000,0.000000,1.000000,2.000000,3.000000,4.000000,11.000000,13.000000,0.000000
25%,649.0,917.000000,0.000000,3.000000,9.000000,16.000000,23.000000,31.000000,40.000000,12.000000
50%,649.0,1833.000000,0.000000,6.000000,14.000000,22.000000,30.000000,37.000000,45.000000,25.000000
75%,649.0,2749.000000,0.000000,10.000000,20.000000,28.000000,35.000000,42.000000,47.000000,37.000000
max,649.0,3591.000000,3.000000,38.000000,43.000000,45.000000,47.000000,48.000000,49.000000,49.000000

## Function for Historical Data Check

The engineering team told us that we need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
    * the number of times the combination selected occurred in the Canada data set; and
    * the probability of winning the big prize in the next drawing with that combination.

In [10]:
def extract_numbers(row):

    win_nums = set()
    
    for i in range(1,7):
        col = 'NUMBER DRAWN ' + str(i)
        win_nums.add(row[col])
    
    return win_nums

In [11]:
# Why did the df.apply return Dataframe instead of Series???

historical_649['winning_nums'] = historical_649.apply(extract_numbers, axis = 1).iloc[:,1]

In [12]:
winning_nums = historical_649['winning_nums']
winning_nums.sample(10, random_state = 5)

2873     {34, 37, 9, 21, 28, 31}
2101     {32, 38, 39, 9, 49, 27}
2169      {1, 34, 37, 6, 41, 16}
2941        {5, 6, 8, 9, 40, 11}
3287      {34, 3, 40, 9, 10, 28}
796       {32, 2, 9, 41, 19, 24}
1428      {1, 3, 46, 16, 29, 31}
2607     {39, 8, 12, 47, 20, 28}
1991      {2, 34, 6, 46, 48, 17}
3594    {33, 35, 40, 42, 11, 25}
Name: winning_nums, dtype: object

In [13]:
def check_historical_occurence(ticket, winning_nums):
    
    ticket_nums = set(ticket)
    historical_wons = (winning_nums == ticket_nums).sum()
    
    return 'There has been {} time(s) where the supplied numbers ({}) were drawn exactly.'.format(
        historical_wons, ticket_nums) + '\n' + one_ticket_probability(ticket)

In [14]:
print(check_historical_occurence([34, 37, 9, 21, 28, 31], winning_nums))

There has been 1 time(s) where the supplied numbers ({34, 37, 9, 21, 28, 31}) were drawn exactly.
Your ticket has a winning chance of 0.0000072%, which is 1 in 13,983,816.

In [15]:
print(check_historical_occurence([1, 2, 3, 4, 5, 6], winning_nums))

There has been 0 time(s) where the supplied numbers ({1, 2, 3, 4, 5, 6}) were drawn exactly.
Your ticket has a winning chance of 0.0000072%, which is 1 in 13,983,816.

## Multi-ticket Probability

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [16]:
def multi_ticket_probability(num_of_tickets, draw = 6, pool = 49):
    
    all_combinations = combination(pool, draw)
    prob_win = num_of_tickets/all_combinations
    
    return 'Your ticket has a winning chance of {:.7%}, which is 1 in {:,}.'.format(prob_win, round(1/prob_win))

In [17]:
tickets_purchases = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

In [18]:
for num_of_tickets in tickets_purchases:
    print(multi_ticket_probability(num_of_tickets))

Your ticket has a winning chance of 0.0000072%, which is 1 in 13,983,816.
Your ticket has a winning chance of 0.0000715%, which is 1 in 1,398,382.
Your ticket has a winning chance of 0.0007151%, which is 1 in 139,838.
Your ticket has a winning chance of 0.0715112%, which is 1 in 1,398.
Your ticket has a winning chance of 7.1511238%, which is 1 in 14.
Your ticket has a winning chance of 50.0000000%, which is 1 in 2.
Your ticket has a winning chance of 100.0000000%, which is 1 in 1.

## Less Winning Numbers — Function

On this screen, we're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

* Inside the app, the user inputs:
    * six different numbers from 1 to 49; and
    * an integer between 2 and 5 that represents the number of winning numbers expected
* Our function prints information about the probability of having the inputted number of winning numbers.

In [19]:
def probability_less_6(nums_to_win, draw = 6, pool = 49):
    
    all_combinations = combination(pool, draw)
    win_combinations = combination(draw, nums_to_win)*combination(pool-draw, draw-nums_to_win)
    
    prob_win = win_combinations/all_combinations
    
    return 'Your ticket has a winning chance of {:.7%}, which is 1 in {:,}.'.format(prob_win, round(1/prob_win))

In [20]:
nums_to_win = [2,3,4,5]

In [21]:
for num in nums_to_win:
    print(probability_less_6(num))

Your ticket has a winning chance of 13.2378029%, which is 1 in 8.
Your ticket has a winning chance of 1.7650404%, which is 1 in 57.
Your ticket has a winning chance of 0.0968620%, which is 1 in 1,032.
Your ticket has a winning chance of 0.0018450%, which is 1 in 54,201.